/****************** BASE STYLES *******************/
/*
1em = 16px
1.6rem = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-12: 1.2rem;
  --font-14: 1.4rem;
  --font-16-body: 1.6rem;
  --font-16: 1.6rem;
  --font-18: 1.8rem;
  --font-40: 3rem;
  --bg-colour-header-footer: #585858;
  --body-font-colour: #585858;
  --container-width: 1100px;
  --rectangle-bg-colour: #d9d9d9;
  --rectangle-text-colour: #585858;
  --body-bg-colour: #f4f4f4;
  --font-family-choice: "Lexend Deca", sans-serif;
  --button-bg-colour: #585858;
  --white-colour-text: #ffffff;
  --divider-colour: #cccccc;
}

#root {
  position: relative;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 16px */
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: var(--font-16-body);
  color: var(--body-font-colour);
  font-family: var(--font-family-choice);
  font-weight: 300;
  background-color: var(--body-bg-colour);
}

.container {
  max-width: var(--container-width);
  margin: auto;
}

section {
  padding: 12rem 0 0 0;
}
/**************************************/

/****************** TOP HEADER *******************/
.top-header {
  text-align: center;
  font-size: var(--font-12);
  background-color: var(--bg-colour-header-footer);
  padding: 0.8rem 0;
  color: var(--white-colour-text);
}

/****************** NAVBAR *******************/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0 5.5rem 0;
}

.rc-logo {
  width: 24rem;
  height: auto;
}

.favourite svg {
  min-height: 6rem;
  width: auto;
}

/****************** HERO *******************/
.rectangle-bg {
  height: 14rem;
  max-width: 100%;
  border-radius: 10rem;
  color: var(--rectangle-text-colour);
  background-color: var(--rectangle-bg-colour);
}

.hero-inner {
  display: flex;
  flex-direction: row;
  position: relative;
}

.adoption-heading {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -5px;
  margin: 0.5rem 0 0 15rem;
}

.adoption-subheading {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  margin-top: -1.5rem;
}

.adopted-img {
  max-height: 344px;
  width: auto;
  position: absolute;
  right: 6rem;
  bottom: -3.5rem;
}

.button-cta {
  font-family: var(--font-family-choice);
  font-size: var(--font-16);
  color: var(--white-colour-text);
  width: 100%;
  border: 0;
  background-color: var(--button-bg-colour);
  border-radius: 0.6rem;
  padding: 1rem;
}

/****************** FILTER *******************/
.filter h2 {
  margin-bottom: 2rem;
  font-size: 3.2rem;
}

.filter-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.filter-list select {
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  background-color: var(--button-bg-colour);
  color: white;
  font-size: var(--font-16);
  font-family: var(--font-family-choice);
  border-right: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent !important;
  border: 0rem;
}

/****************** LISTING *******************/
.listing {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.listing-image {
  position: relative;
}

.listing-image img {
  max-height: 21rem;
  width: auto;
}

.listing-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.65rem;
  padding: 0.5rem;
}

.listing-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listing-copy {
  font-family: var(--font-family-choice);
  font-size: var(--font-16);
  color: var(--body-font-colour);
}

.listing-title {
  font-weight: 400;
  font-size: var(--font-18);
  letter-spacing: -1.2px;
  padding: 0.2rem 0;
}

.listing-org {
  font-size: var(--font-12);
  letter-spacing: -0.3px;
}

.listing-favourite svg {
  min-height: 2.5rem;
  width: auto;
}

.reserved {
  font-family: var(--font-family-choice);
  font-size: var(--font-12);
  color: var(--body-font-colour);
  font-weight: 900;
  letter-spacing: 0.2rem;
  color: white;
  background-color: var(--button-bg-colour);
  padding: 1rem;
  position: absolute;
  bottom: 0.5rem;
}

/****************** FOOTER *******************/

.footer {
  background-color: var(--bg-colour-header-footer);
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  padding: 2rem 0;
  color: var(--white-colour-text);
}

.footer-logo img {
  max-width: 10rem;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-copy {
  font-size: var(--font-12);
}

.sneaky-kitty {
  position: absolute;
  bottom: 0;
  left: 0;
}

/****************** LOAD MORE *******************/

.load-more {
  background-color: var(--rectangle-bg-colour);
  margin: 2rem 0;
  text-align: center;
  padding: 2rem 0;
  border-radius: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

/****************** POPUP *******************/
.popup-bg {
  position: fixed;
  min-width: 60vw;
  display: flex;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgb(54, 54, 54);
  background: rgba(54, 54, 54, 0.5);
  z-index: 5;
  color: #ffffff;
  border-radius: 0.5rem;
}

/****************** SLIDER *******************/
.slider {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.slider-thumbnail {
  display: flex;
  justify-content: space-between;
}
.slider-thumb-img {
  margin: 2rem 0;
  min-width: 0;
}

/****************** ANIMAL DETAILS COPY  *******************/
.animal-detail-copy-container {
}

.animal-core-container {
  display: flex;
  justify-content: space-between;
}
.animal-core-details {
}

.animal-title {
  font-family: var(--font-family-choice);
  font-weight: 500;
  font-size: var(--font-40);
  letter-spacing: -0.15rem;
}

.animal-organisation {
  font-family: var(--font-family-choice);
  font-size: var(--font-14);
}

.reserved-details {
  font-family: var(--font-family-choice);
  font-size: var(--font-14);
  color: var(--body-font-colour);
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: white;
  background-color: var(--button-bg-colour);
  padding: 1rem;
  margin: 1rem 0 3rem 0;
}

.favourite-animal-detail svg {
  font-size: 5rem;
}

.animal-details-table {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family-choice);
  font-size: var(--font-16);
  color: var(--body-font-colour);
  font-weight: 300;
}

.divider {
  width: 100%;
  margin: 1.5rem 0;
  height: 0.1rem;
  content: "";
  display: block;
  background-color: var(--divider-colour);
  border-radius: 1rem;
}

.divider:last-child {
  margin-bottom: 10rem;
  height: 0;
}

.animal-details-button {
  display: flex;
  margin: 3rem 0;
}

.animal-details-button .button-cta {
  width: 30%;
  margin: 0 auto;
}

/****************** FAVOURITES  *******************/

.favourites-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15rem 0;
}

.favourites-container .listing-image img {
  max-height: 28rem;
  width: auto;
}
